<div>
    <h1><%= coinDetails.name %></h1>            
            <h2>ID - <%= coinDetails.id %></h2>
            <h2>Symbol - <%= coinDetails.symbol %></h2>
            <h2>Algorithm - <%= coinDetails.algorithm %></h2>
            <h2>Price in USD - <%= coinDetails.toUSD %>$</h2>
</div>               
